<ifModule mod_rewrite.c>

RewriteEngine On
# Lorsque l'on tape dans la barre d'adresse http://localhost/public/projet-client-connectbx/Le%20site/event c'est la page http://localhost/public/projet-client-connectbx/Le%20site/index.php?action=event qui s'affiche
# [L]=[last] signifie que si cette règle s'applique on n'en cherche pas d'autre

# Gestion des pages statiques

RewriteRule ^home$ index.php?action=home [L]
RewriteRule ^admin$ index.php?action=admin [L]
RewriteRule ^contact$ index.php?action=contact [L]
RewriteRule ^event$ index.php?action=event [L]
RewriteRule ^aPropos$ index.php?action=aPropos [L]
RewriteRule ^map$ index.php?action=map [L]

RewriteRule ^activities$ index.php?action=activities [L]
RewriteRule ^logout$ index.php?action=logout [L]


# L'erreur 404 signifie que le fichier auquel le visiteur a tenté d'accéder n'existe pas.
# 404 : Not Found (Ressource non trouvée)
ErrorDocument 404 http://localhost/public/projet-client-connectbx/Le%20site/Views/erreur404.php

# 403 : Forbidden (Accès refusé)
ErrorDocument 403 http://localhost/public/projet-client-connectbx/Le%20site/Views/erreur403.php 

# Gestion des pages dynamiques

RewriteRule ^search=([A-Za-z\ ]+[0-9_-]?)$ index.php?action=map&search=$1 [QSA,L]

</ifModule>
