/* BBE ENGINE CSS: The CSS for the BBE Template Editor */


/* RESET FONT STACK FOR BBE TOOLS */
#bbe-magic-content .bbe-block-tools *:not(span), 
#bbe-magic-content .bbe-html-tools *:not(span), 
#bbe-magic-content .bbe-column-tools *:not(span),
#bbe-magic-content .bbe-container-tools *:not(span),
.bbe-bottom-nav
{font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;       }

.bbe-contextual-top-buttons {
    float: right;
    position: absolute;
    right: 130px;
    top: 6px;
}

.bbe-bottom-nav {
   min-height: 0 !important;
   background: #2f3135 !important;
   background-image: none !important;
   border-top: 2px solid #555 !important;
}


.bbe-edit-container-nav {font-size: 11px;}
#bbe-container-background-image-demo {width:100px; max-height:100px;margin-right:20px;}

.bbe-logo {background: url('helper-img/bbe-minilogo.jpg'); background-size:contain; height: 25px; width:25px;display: inline-block }

.bbe-loading-spinner {background: url('helper-img/loading.svg'); background-size:auto;background-repeat: no-repeat;background-position: center center; height:40vh; width:100%; display: inline-block }
#bbe-branding { display: inline-block }

.bbe-bottom-nav input {color: #222}

.bbe-bottom-nav:not(.bbe-advanced-mode) .bbe-advanced-features{
   display: none;
}

.bbe-bottom-nav.bbe-advanced-mode .bbe-advanced-features{
   display:inline-block;
}

.bbe-bottom-nav.bbe-reorder-mode  .btn:not(#bbe-reorder-stop),
.bbe-bottom-nav.bbe-reorder-mode  span {
	  display:none !important;
   }
 
.bbe-display-none {display: none;}
 
 
#bbe-new-project-notice {padding: 10% 0;height: 98vh}
#bbe-new-project-notice-down {font-size: 10vh;position: absolute;bottom: 8vh;width:100%;
    -webkit-animation-duration: 2s; /* Chrome, Safari, Opera */
    animation-duration: 2s;
	}
#bbe-new-project-notice-down h3 {	color: #fff;}
.bbe-newly-created-container-wrap .bbe-container {
   background: #DDDDDD;
}


#bbe-saving-result {position: fixed; bottom: 50vh; left: 0;width: 100%; color: red;font-size:2vw; padding: 10vh 5vw; background: #efefef;display: none;text-align: center} 
#bbe-modal-window .modal-dialog, #bbe-components-modal .modal-dialog, #bbe-templates-modal .modal-dialog {width: 95%;}
 
#ul-search-components-by-type {
    padding: 5px 11px;   
    margin: 0 0 16px;
}

#ul-search-components-by-type >li { display: inline-block;width:200px;}

#ul-search-components-by-type >li>a {
    font-size: 11px;
    font-weight: 300;
    color: #ccc;
    text-transform: uppercase;
    font-family: Arial;
    padding: 3px 5px;
    }
#ul-search-components-by-type >li.active > a {background: #ccc; color: #444;text-decoration: none}
#ul-search-components-by-type >li>a span {margin-right: 5px}

#ul-search-templates-by-kind li  a { color: #fff;   font-size: 1.1vw}

.bbe-template-html-content {background: #fff}
#ul-search-templates-by-kind li:hover {background:#efefef}
#ul-search-templates-by-kind li:hover a {color: #222}
#bbe-remote-templates-search-results, #ul-search-templates-by-kind li.active a { color: #333}
#ul-search-templates-by-kind li.active   { background: #fff}
#bbe-remote-templates-search-results {padding:20px 10px; min-height: 40vh}
#bbe-remote-templates-search-results:empty {padding: 0;min-height: 0}
#bbe-panel-build-rows .col-xs-3 {border: 1px dashed #ccc;}
 
.bbe-bottom-nav .container-fluid {color: #fff;padding-top: 5px;padding-bottom: 3px;}
.bbe-bottom-nav .container-fluid .btn {border: 1px solid #999;}

#bbe-panel-build-rows .col-xs-3 {  border: 1px dashed grey; padding-bottom: 10px;} 
 
/* BBE SELECTION  HIGHLIGHT */
#bbe-magic-content div[data-container-id]:not(.ui-sortable-handle),
#bbe-magic-content div[data-column-id]:not(.ui-sortable-handle),
#bbe-magic-content *[data-block-id]:not(.ui-sortable-handle),
#bbe-magic-content *[data-block-id] *[data-block-id],
#bbe-magic-content *[data-block-id] *[data-block-id] *[data-block-id] {
   -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    outline: rgba(0,0,0,0) dashed 1px;
}
#bbe-magic-content div[data-container-id]:hover { outline: rgba(62,143,62,1) dashed 2px; z-index: 99}
#bbe-magic-content div[data-column-id]:hover { outline: rgba(218,194,3,1) solid 1px;min-height: 50px; }
#bbe-magic-content *[data-block-id]:hover { outline: rgba(218,62,174,1) dashed 3px }
#bbe-magic-content *[data-block-id] *[data-block-id]:hover { outline: rgba(48,218,193,1) dashed 3px }
#bbe-magic-content *[data-block-id] *[data-block-id] *[data-block-id]:hover { outline: rgba(218,38,58,1) dashed 3px }

/* BBE TOOLS */
 #bbe-magic-content .bbe-column-tools {
    position: absolute;
    top: -12px;
    left:0;
    opacity: 0;
    z-index: 1000;
    text-shadow: none;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

#bbe-magic-content .bbe-column-tools button.dropdown-toggle {background:#dac203; color: #fff; text-shadow: none;}

#bbe-magic-content div[data-column-id]:hover .bbe-column-tools {opacity: 1;}

#bbe-magic-content .bbe-block-tools {
    position: absolute;
    top: 0;
    opacity: 0;
    right:20px;
    z-index: 1000;
    text-shadow: none;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

#bbe-magic-content .bbe-component-block:hover > .bbe-block-tools {opacity: 1;}
#bbe-magic-content .bbe-component-block:not(.carousel-caption) {position: relative}
#bbe-magic-content .bbe-component-block .bbe-block-tools  button.dropdown-toggle {background:#da3eae; color: #fff; text-shadow: none;}

#bbe-magic-content .bbe-component-block .bbe-component-block .bbe-block-tools button.dropdown-toggle {background:#30dac1; }
#bbe-magic-content .bbe-component-block .bbe-component-block .bbe-component-block .bbe-block-tools button.dropdown-toggle { background:#da263a; }
#bbe-magic-content .bbe-component-block .bbe-component-block  .bbe-block-tools  { top: 3px !important; }



#bbe-magic-content .bbe-container-tools {
    position: absolute;
    margin-top: -40px;
    opacity: 0;
    right: 20px;
    z-index: 1000;
    text-shadow: none;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
#bbe-magic-content .bbe-container.bbh-fullscreen-height .bbe-container-tools {    margin-top: 0 !important; } /*  could be improved */ 

#bbe-magic-content .bbe-container-tools_test {
    position: absolute;
   top:0;
    opacity: 0;
    right: 0px;
	height: 100%;
	background: red;
    z-index: 1000;
    text-shadow: none;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}


#bbe-magic-content .bbe-container-wrap:hover  .bbe-container-tools {opacity: 1;}

#bbe-magic-content .bbe-container-tools .dropdown-menu,
#bbe-magic-content .bbe-block-tools .dropdown-menu {right: 0;left: auto;z-index: 1;margin-bottom: 45px;}

/* exception for centering components in bbe-free-components */
#bbe-free-components-wrap .icons-c .bbe-component-html-content {text-align: center}

body  #bbe-magic-content .modal-backdrop {z-index: 0}
.modal-backdrop.in { z-index: -2;}
.ui-sortable-placeholder {visibility: visible !important;height: 300px; background-color: #ccc;
/* striped bg */
background:repeating-linear-gradient(-45deg, #ccc, #ccc 5px, white 5px, white 10px);
}

/* VIEWPORT DETECTION */
#bbe-viewport-indication {  background-color: transparent; border-left: 1px solid #949494;border-radius: 0;font-size: 13px}
#bbe-viewport-indication::before { content: "View: XS"; }
@media (min-width : 768px) { #bbe-viewport-indication::before { content: "View: SM"; }}
@media (min-width : 992px) { #bbe-viewport-indication::before { content: "View: MD"; }}
@media (min-width : 1200px) { #bbe-viewport-indication::before { content: "View: LG"; }}


/*REORDER HELPER */
#bbe-magic-content.bbe-reorder-mode {cursor: move}

/* VIDEO BG HELPER */
.video-background-wrapper .video-text {  pointer-events: auto;}


/* TWITTER/FACEBOOK HELPER */

 
.twitter-share-button::before {
    content: "Demo Preview";
    color: #ccc;
    background: url(helper-img/twitter-button.png) top left no-repeat;
    height: 20px;
    /* overflow: hidden; */
    display: block;
    padding-left: 0px;
    font-family: arial;
    font-size: 9px;
    padding-top: 20px;
    margin-top: 30px;
}
a.twitter-share-button {opacity:0.1}
 
.fb-share-button::before {  
 content: "Demo Preview";
    color: #ccc;
    background: url(helper-img/facebook-share-button.png) top left no-repeat;
    height: 20px;
    /* overflow: hidden; */
    display: block;
    padding-left: 0px;
    font-family: arial;
    font-size: 9px;
    padding-top: 20px;
    margin-top: 30px;
    
}

.fb-like::before {  content: "Demo Preview";
    color: #ccc;
    background: url(helper-img/facebook-like-button.png) top left no-repeat;
    height: 20px;
    /* overflow: hidden; */
    display: block;
    padding-left: 0px;
    font-family: arial;
    font-size: 9px;
    padding-top: 20px;
    margin-top: 30px;
   }

/*  SIDEBAR/ SHORTCODE  HELPER  */ 
.bbe-shortcode-wrap::before { content: "Embed a Shortcode:"; color: #ccc;
width:100%;text-align: center;
display: block; font-size: 20px; font-family: Arial;
}

.bbe-shortcode-wrap  {  text-align: center; background:none;color:#333;
display: block;padding: 20px; font-size: 30px; font-family: Arial;
}

.bbe-liveshortcode:not(.bbe-shortcode-wrap) {display: none}


 
/* IMAGES HELPER */
                                    
#bbe-magic-content:not(.bbe-reorder-mode) img {cursor: url("helper-img/vintage_cursor.png"),default;    }
#bbe-magic-content:not(.bbe-reorder-mode) *[data-bbe-bg-editable="1"] {cursor: url("helper-img/vintage_cursor.png"),default;    }
/* WYSIWYG EDITOR TEXT HELPER */
#bbe-magic-content:not(.bbe-reorder-mode) *[data-bbe-html-editable="1"]:not(.mce-content-body) {cursor: url("helper-img/vintage_cursor.png"),default;     }
/* SIMPLE EDITABLE TEXT HELPER */
#bbe-magic-content:not(.bbe-reorder-mode) *[data-bbe-inline-editable="1"]:not(.mce-content-body)  {cursor: url("helper-img/vintage_cursor.png"),default;     }

/* ICON HELPER */

#bbe-magic-content:not(.bbe-reorder-mode) i.fa {cursor: url("helper-img/vintage_cursor.png"),default;    }
/*
#bbe-magic-content i.fa:hover::after { text-shadow:  3px 3px 5px #fff; cursor: pointer;content: "Double-click to change icon... "; font-size:12px; color:#000; padding: 4px 5px;  position: absolute;bottom: 0;left:0;width:100%;text-align: center}
*/ 

/* ICON BROWSER  */
.fontawesome-icon-list a {display: block;    text-align: center;text-decoration: none}

.fontawesome-icon-list a:hover { text-decoration: none}

.fontawesome-icon-list i {
    font-size: 50px;
    display: block;
    padding-top: 30px;
    text-align: center;
}


/* FOR SAVING BUTTONS      */
.bbe-hidden-before-domchange  {display: none !important}




/* START  ELEMENTS IN MODAL BOX */

 
/*modal styles */
.modal .modal-content {color: #333;background: #fff}

.modal .nav-tabs>li>a, .modal .nav-pills>li>a {color: #337ab7;background: #fff;}
.modal .btn-default {
    color: #333;  background-color: #fff;    border-color: #ccc;    background-repeat: repeat-x;    background-image: linear-gradient(to bottom,#fff 0,#e0e0e0 100%);     text-shadow: 0 1px 0 #fff;
}
.modal .btn-default:hover {
    color: #000; }

#bbe-components-listing .bbh-fullscreen-height {min-height: auto !important}
#bbe-components-modal .modal-header .input-group {max-width: 455px;}

 
.bbe-components-modal-body .components-content {font-size: 12px;}


.bbe-component-wrapper {
    display: block;
    padding: 0;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #fff;
    border: none;
    border-radius: 0;
    
    transition: border .2s ease-in-out;
}
.bbe-component-wrapper .bbe-component-actions-wrap {bottom: 0;background: #d2d2d2;padding: 4px;display: block}
.bbe-component-wrapper .bbe-component-html-content {height: 170px;overflow: hidden;   }
.bbe-component-wrapper .bbe-component-html-content:hover {  }
.bbe-component-wrapper .bbe-component-html-content .jumbotron {padding: 10px;}
.bbe-component-wrapper .bbe-component-html-content .jumbotron h1 {font-size: 30px;}
.bbe-component-wrapper .bbe-component-html-content .jumbotron p {font-size: 15px;}
.bbe-component-wrapper .bbe-component-html-content .page-header h1 {font-size: 25px;}
.bbe-component-wrapper .bbe-component-html-content .thumbnail img { height: 80px; width:100% }
.bbe-component-wrapper .video-background-wrapper {height: auto;}
.bbe-component-wrapper .video-background-wrapper .video-text {height: auto;top: 0;padding: 70px 0px;}
.bbe-component-wrapper .video-background-wrapper .video-text h1 {font-size: 20px !important;}
.bbe-component-wrapper .video-background-wrapper .video-text p {font-size: 12px !important;margin-top: 5px !important;}
.bbe-component-wrapper .image-bg-title {font-size: 20px;margin-top: 15px;}
#bbe-remote-components-search-results .separator-c .bbe-component-html-content {background: #ccc;padding: 70px 0;}
.bbe-component-html-content-detail.separator-c {background: #ccc;padding: 20px 0;}

.bbe-component-wrapper .bbe-image-bg-comp {background: url(https://images.unsplash.com/photo-1424894408462-1c89797f2305?fit=crop&fm=jpg&h=500&ixlib=rb-0.3.5&q=80&w=1450); padding: 10px 0}
.bbe-component-html-content-detail.background-image-c {background: url(https://images.unsplash.com/photo-1424894408462-1c89797f2305?fit=crop&fm=jpg&h=500&ixlib=rb-0.3.5&q=80&w=1450); background-size: cover;    max-width: 100%;    max-height: 100%;    overflow: hidden;}

.image-c .bbe-component-wrapper .bbe-component-html-content img {margin: 0 auto}


.bbe-component-wrapper .bbe-component-html-content .carousel-fh .item  { height: 200px}
.bbe-component-wrapper .bbe-component-html-content .carousel .carousel-caption h2 {font-size: 24px!important; margin-bottom: 5px;}
#bbe-components-listing  .bbe-gallery {pointer-events: none}


#bbe-components-listing .posts-loop-c .bbe-component-html-content {background: url(https://cdn.dopewp.com/media/interface/components/posts-loop.jpg);background-size: cover}
#bbe-components-listing .horizontal-posts-loop-c .bbe-component-html-content {background: url(https://cdn.dopewp.com/media/interface/components/horizontal-posts-loop.jpg);background-size: cover}
#bbe-components-listing .live-shortcode-c .bbe-component-html-content {background: url(https://cdn.dopewp.com/media/interface/components/live-shortcode.jpg);background-size: cover}
#bbe-components-listing .widgets-area-live-c .bbe-component-html-content {background: url(https://cdn.dopewp.com/media/interface/components/widgets-area-live.jpg);background-size: cover}







.bbe-component-excerpt { display: none;position: absolute;bottom:  65px;left:0;right: 20px;   background: #eaeaea;    color: #777777;    padding: 5px 30px;       }

.bbe-component-excerpt:empty {display: none}

.bbe-component-title-wrap h4 {
   color: #333;background: #d2d2d2;font-weight: 400;transition: all .3s ease-in-out;
   border-top: 1px solid #444;
   font-family: "Helvetica Neue",Helvetica;
   border-bottom: 1px solid #444;
   padding: 3px 0 5px;margin:0;  white-space:nowrap;
    overflow:hidden;
    
    font-size: 14px;
    text-transform: uppercase;
    }

 
 

#bbe-component-detail-title {    color: #fff;
    background: #777;
    transition: all .3s ease-in-out;
    border-top: 1px solid #ccc;
    padding: 0px 0 5px;
	margin-top: 0;
	}
#bbe-component-detail-title  .text-muted {color: #efefef;font-size: 1.7rem;}

.bbe-component-detail-actions button {margin-top:20px;margin-left: 10px}
.bbe-container-close-component {margin-top: 3px;margin-left: 5px}
.bbe-container-close-component:hover {cursor: pointer}
.bbe-close-template:hover {cursor: pointer}
.bbe-disable-pointer-events {pointer-events: none;}





/* END   ELEMENTS IN MODAL BOX */

 
 
/*  Components Modal: LOGGEDIN / NOT */
/*
body[data-bbe-status="unlogged"] #bbe-remote-components-wrap {display: none }

body[data-bbe-status="unlogged"] #bbe-remote-search-wrapper {display: none }


body[data-bbe-status="logged"] #bbe-free-components-wrap {display: none }
body[data-bbe-status="logged"] .bbe-alert-upgrade {display: none }

body[data-bbe-status="logging"]  #bbe-remote-components-wrap {display: none }
body[data-bbe-status="logging"]  #bbe-free-components-wrap {display: none }
body[data-bbe-status="logging"]  .bbe-alert-upgrade {display: none }
*/

/*  Templates Modal: LOGGEDIN / NOT */



body[data-bbe-status="logged"]  .bbe-alert-upgrade {display: none }
/*
body[data-bbe-status="logging"]  #bbe-remote-templates-wrap {display: none }
body[data-bbe-status="logging"]  #bbe-free-templates-wrap {display: none }
body[data-bbe-status="logging"]  .bbe-alert-upgrade {display: none }
*/


 
 

/*  Templates Modal Styling */

 
 
h3.bbe-remote-template-name {
   
   text-transform: uppercase;
   margin-top: 0;
   padding: 5px 0;
}

h3.bbe-remote-template-name a {color: #333;font-size: 16px }
h3.bbe-remote-template-name a:hover {text-decoration: none; color: #777 }

h1.bbe-remote-template-detail-name {
   background: #777;
   text-transform: uppercase;
   margin-top: 0;
   padding: 5px 0;
   color: #fff; 
}

h1.bbe-remote-template-detail-name .bbe-insert-template {margin-right: 10px;margin-top: 2px}
h1.bbe-remote-template-detail-name .bbe-close-template {margin-left: 5px;margin-top: 2px}


.bbe-template-detail-actions {margin-top: 10px;}


.bbe-ee-hidden {display: none !important}

/* Classes to hide elements to unlogged / logged users   */

.hide-to-unlogged-users:hover {outline:15px solid red;}
.hide-to-unlogged-users:hover:before {
   content: "HIDDEN TO UNLOGGED USERS";
   z-index: 100;
   background:yellow;
   width:100%;
   position: absolute;
   font-size: 2vw;
   text-align:center;
   color: red;
}


.hide-to-logged-users:hover {outline:15px solid red;}
.hide-to-logged-users:hover:before {
   content: "HIDDEN TO LOGGED USERS";
   z-index: 100;
   background:yellow;
   width:100%;
   position: absolute;
   font-size: 2vw;
   text-align:center;
   color: red;
}

/* disable csshero trigger when editing with bbe */
#csshero-very-first-trigger {display: none}


/* DISABLE bbe-duplicate-block when error-prone -  blocks of carousels and accordions... */

.bbe-block-tools[data-bbe-tools-for="panel-group"] a.bbe-duplicate-block {display: none}


.bbe-block-tools[data-bbe-tools-for="carousel"] a.bbe-duplicate-block  {display: none}




/* DISABLE bbe-duplicate-block when useless -     blocks INSIDE  carousels and accordions... */

.carousel a.bbe-duplicate-block,
.carousel a.bbe-delete-block,
.carousel a.bbe-reorder {display: none}



.tab-content a.bbe-duplicate-block,
.tab-content a.bbe-delete-block,
.tab-content a.bbe-reorder {display: none}


/* DOUBLECLICKABLE ELEMENTS THAT TRIGGER CONTEXTUAL WINDOWS */

#bbe-magic-content:not(.bbe-reorder-mode) .progress:hover
   {cursor: url("helper-img/vintage_cursor.png"),default;    }


/*  CONTEXTUAL WINDOWS */
.bbe-contextual-window-top-dragbar {position: absolute;left:0;top: 0;height: 50px;width: 100% }
.bbe-contextual-window .bbe-logo {}
.bbe-contextual-window > form,
.bbe-contextual-window > div > form,
.bbe-contextual-window > p  {color:#fff}
.bbe-contextual-window h4 .text-muted {color:#fff}
.bbe-contextual-window, .bbe-modal-splash {display: none;z-index: 999999999;
   position: fixed;
   top:5vh;
   left: 50vw;
   margin-left: -200px;
   width:400px;
   padding: 10px 10px 0 10px;
   background: #efefef;
   font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
   font-size: 14px;
   background-image: url('helper-img/pattern.png');
   background-repeat: repeat;
   border-radius: 2px;
   border: 2px solid #060606;
   box-shadow: 0 10px 6px -6px #211f1f;
}

#bbe-modal-backdrop {
   display: none;
   background: #000;
   opacity: 0.8;
   position: fixed;
   top:0;
   width: 100%;
   bottom: 0;
   z-index: 9999999991;
}



#bbe-auxiliary-iframe {width:100%;height:50vh;}


.bbe-modal-splash { 
   top:10vh;
   z-index: 10;
   margin-left: -400px;
   width:400px;
   padding: 5px 10px;
   
   font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
   font-size: 14px;
   z-index: 9999999992;

 
}

/*BBE CONTEXTUAL EDITING WINDOWS */

.bbe-contextual-window-resize-handle {position: absolute;bottom: 15px;right:5px;padding: 5px;height: 10px;color:#e40100}

.bbe-contextual-close-top .glyphicon-remove{    color: #e40100;}
.bbe-contextual-close-top .glyphicon-ok{color: #5cb85c;}

.bbe-contextual-close-top {     
    position: absolute;
    top: 0px;
    right: 15px;
    font-size: 31px;
    margin-top: 6px;
    }

.bbe-contextual-close-top:hover {text-decoration: none;color: darkred}



.bbe-modal-splash {display: none;z-index: 99999999999 !important; color: #fff;}
.bbe-modal-splash hr {
   
    margin-top: 10px;
    margin-bottom: 10px;
    border: 0;
    border-top: 1px solid #444;
}
.bbe-contextual-window form a {color:#fff}
.bbe-contextual-window form a:hover {color:#efefef}
a.bbe-contextual-close {    }

.bbe-contextual-window .ui-draggable-handle:hover,
.bbe-modal-splash .ui-draggable-handle:hover {cursor: move}
.bbe-contextual-window hr {margin-top: 10px; margin-bottom: 20px;border: 0;    border-top: 1px solid #ccc;}
.bbe-contextual-window .bbe-logo {width:20px;height:20px}
.bbe-contextual-window > h4,
.bbe-modal-splash > h4 { font-family: "Helvetica Neue",Helvetica;  user-select: none; font-size: 22px; font-weight: 100; margin-top: 0px;margin-bottom: 0; color:#fff;    display: inline-block; margin-left: 5px; }
 
.bbe-contextual-window  h2 {font-family: "Helvetica Neue",Helvetica;
    user-select: none;
    font-size: 18px;
    font-weight: 100;
    margin-top: 20px;
    margin-bottom: 10px;
    color: #fff;
     display: block; 
    margin-left: 5px;
    border-bottom: 1px dashed #ccc;
    padding-bottom: 5px;
}
#bbe-contextual-window-image,
#bbe-contextual-window-backgroundimage,
#bbe-contextual-window-components {width: 700px}



 
#bbe-contextual-window-icons {width: 500px}



#bbe-contextual-window-templates {width: 100vw;height: 100vh;overflow-y: scroll;top:0vh;left:0vw;margin-left: 0;}
#bbe-contextual-window-templates hr {border-top:none}
#bbe-contextual-window-templates #bbe-free-templates-wrap h1,
#bbe-contextual-window-templates #bbe-free-templates-wrap h4,
#bbe-contextual-window-templates h3.bbe-remote-template-name,
 
#bbe-contextual-window-templates .bbe-alert-upgrade {color: #fff;font-family: "Helvetica Neue",Helvetica;}

#bbe_search_for_svg_clipart_results,#bbe-icons-listing,
.bbe-unsplash-search-results{max-height: 50vh;overflow-y: scroll;margin-bottom: 20px;     text-align: center;}
.bbe-unsplash-search-results h4 {color: #fff;font-family: "Helvetica Neue",Helvetica;}
 
#bbe_search_for_svg_clipart_results {background:#fff}
#bbe_search_for_svg_clipart_results ul {list-style-type: none;margin: 0;padding: 0}
.bbe-unsplash-search-results ul {margin: 0 0 20px;padding: 0}
.bbe-unsplash-search-results ul li {display: inline-block}
.bbe-unsplash-search-results ul li:hover {cursor: pointer}

/* ICONS BROWSER */
 
#bbe-contextual-window-icons #bbe-icons-listing a {  font-size:11px;  height: 100px; }
 
#bbe-contextual-window-icons #bbe-icons-listing   {max-width: 99%; overflow-x: hidden}
#bbe-contextual-window-icons #bbe-icons-listing .page-header {
    padding: 5px;
    margin: 40px 0 20px;
    background: #444;
    border-bottom: none;
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 0;
    }
#bbe-contextual-window-icons #bbe-icons-listing section {margin-bottom: 20px}
#bbe-contextual-window-icons #bbe-icons-listing  .alert-success  ul {list-style-type: none}
 #bbe-contextual-window-icons #bbe-icons-listing  .alert-success   {    background: #fff;
    margin: 20px;}
    
    
    
    
#bbe-contextual-window-components {display: none;z-index: 999999999;
   position: fixed;
   top:60px;
   right: 30px;
   margin: 0;
   left: inherit;
   width:650px;
 
}


#bbe-contextual-window-components #bbe-components-listing {
   max-height: 61vh;
   overflow-y: scroll;
   margin-bottom: 20px;
   overflow-x: hidden;
   padding: 0 5px;
   }



#bbe-contextual-window-components hr {
    margin-top: 5px;
    margin-bottom: 0px;
    border: 0;
    border-top: 1px solid #444;
}
#bbe-contextual-window-posts-loop{width: 750px;}
#bbe-contextual-window-shortcode {width: 580px;}

::-webkit-scrollbar { width: 10px; height: 3px;}
::-webkit-scrollbar-button {  background-color: #666; }
::-webkit-scrollbar-track {  background-color: #999;}
::-webkit-scrollbar-track-piece { background-color: #ffffff;}
::-webkit-scrollbar-thumb { height: 50px; background-color: #666; border-radius: 3px;}
::-webkit-scrollbar-corner { background-color: #999; }
::-webkit-resizer { background-color: #666;}



/* EDITOR INTRO */
body .bg-primary {    color: #fff;    background-color:#337ab7;} /* main bg */

#bbe-lazy-webmaster-link {color:#fff;text-decoration:none;border-color: white;cursor:pointer}
#bbe-lazy-webmaster-link:hover {background: #fff;color: #337ab7;}

#bbe-placeholders-theming-form   {color:#ccc;position: absolute;top:17px;right:90px;font-size: 10px}
#bbe-placeholders-theming-form  select {height: inherit; font-size: 10px;margin-top: -1px; margin-left: 10px;background: #ccc}
 
 

/* TINYMCE WYSIWYG EDITOR - FIX submenus */
.mce-menu-item .mce-ico, .mce-menu-item .mce-text {color: #333 !important; }

/*   FAKE SELECTS */
.bbe-bastard-input-wrap input[type=text] { background: url(helper-img/triangles.png) center right no-repeat; background-color: white;}
 