body {
  margin: 0;
  padding: 50px 0 0 0;
}

.navbar-default {
  background-color: #2DAF37;
  border: #91D73C;
}

.navbar-default .navbar-nav > li > a {
    color: #FFF;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #FFF;
    background-color: #91D73C;
}
/*
#searchNavBar {
  visibility: hidden;
}
*/
.jumbotron {
  background-image: url(img/jumbo.png);
  background-size: cover;
  height: 90vh;
}

section {
  text-align: center;
  border-bottom: 1px solid black;
}

footer {
  background-color: #272727;
  height: 200px;
  width: 100%;
  color: #A6ACAF;
  padding-top: 10px;
}

.socialNetwork > li,
.menuFooter > li,
.menuFooter > li > a {
  list-style: none;
  line-height: 25px;
  text-decoration: none;
  color: #A6ACAF;
}

.logoSocialNetwork {
  margin: 3px 0;
  width: 45px;
}
.socialNetwork {
  text-align: center;
}
.socialNetworkLI {
  display: inline-block;
  padding-right: 30px;
}

.newsletter {
  text-align: center;
}

#input-group {
  width: 250px;
  margin-left: auto;
  margin-right: auto;
}

#copyright {
  text-align: center;
  margin-top: 10px;
  padding-top: 25px;
  background-color: #569547;
  width: 100%;
  height: 60px;
}

.menuLeft {
  border: 1px solid black;
  text-align: left;
  background-color: #E9E9E9;
}

#map {
  border:1px solid black;
  width: 100%;
  height: 500px;
}

.associationBox {
  text-align: left;
  border: 1px solid black;
  padding: 20px;
  margin: 10px;
}
