body
{
    margin: 0;
    padding: 50px 0 0 0;
}

.navbar-default
{
    border: #91d73c;
    background-color: #2daf37;
}

.navbar-default .navbar-nav > li > a
{
    color: #fff;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus
{
    color: #fff;
    background-color: #91d73c;
}
/*
#searchNavBar {
  visibility: hidden;
}
*/
.jumbotron
{
    height: 90vh;

    background-image: url(img/jumbo.png);
    background-size: cover;
}

/*section {
  text-align: center;
  border-bottom: 1px solid black;
}*/

footer
{
    width: 100%;
    height: 200px;
    padding-top: 10px;

    color: #a6acaf;
    background-color: #272727;
}

.socialNetwork > li,
.menuFooter > li,
.menuFooter > li > a
{
    line-height: 25px;

    list-style: none;

    text-decoration: none;

    color: #a6acaf;
}

.logoSocialNetwork
{
    width: 45px;
    margin: 3px 0;
}
.socialNetwork
{
    text-align: center;
}
.socialNetworkLI
{
    display: inline-block;

    padding-right: 30px;
}

.newsletter
{
    text-align: center;
}

#input-group
{
    width: 250px;
    margin-right: auto;
    margin-left: auto;
}

#copyright
{
    width: 100%;
    height: 60px;
    margin-top: 10px;
    padding-top: 25px;

    text-align: center;

    background-color: #569547;
}

.menuLeft
{
    text-align: left;

    border: 1px solid black;
    background-color: #e9e9e9;
}

#map
{
    width: 100%;
    height: 500px;

    border: 1px solid black;
}

.associationBox
{
    margin: 10px;
    padding: 20px;

    text-align: left;

    border: 1px solid black;
}
