/*  VUE MOBILE A PROPOS */

/*@media screen and (max-width: 480px) {
  #resume-aPropos {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    color: #707B7C;
    border: 1px solid red;
  }

  .title-page {
  margin-bottom: 30px;
  color: red;
}
}*/

/* CORPS DU SITE */

html {
	height: 100%;
}

body {
  min-height: 100%;
  margin: 0;
  padding: 50px 0 0 0;
  background-color: #fdfefe;
  position: relative;
}

.navbar-default {
  background-color: #2DAF37;
  border: #91D73C;
}

.navbar-default .navbar-nav > li > a {
    color: #FFF;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #FFF;
    background-color: #91D73C;
}
/*
#searchNavBar {
  visibility: hidden;
}
*/
/* Home Sweet Hom*/

.fond {
  background-image: url(../Images/jumbotron.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
.padding {
  padding: 0;
}

.jumbo-event {
  background-image: url(../Images/jumbo.png);
  background-size: cover;
  height: 90vh;
}

section {
  text-align: center;
  border-bottom: 1px solid black;
  margin-top: 80px;
}

/* MAP */ 

.menuLeft {
  border: 1px solid black;
  text-align: left;
  background-color: #E9E9E9;
}

#map {
  border:1px solid black;
  width: 74%;
  height: 95vh;
}

.associationBox {
  text-align: left;
  border: 1px solid black;
  padding: 20px;
  margin: 10px;
}


.title-page {
  margin-bottom: 30px;
  color: #1E8449;
}

/* A PROPOS */

#aPropos {
  height: 1000px;
}

#box-first-article {
  /*margin-top: 70px;*/
/*  position: relative;*/
  width: 900px;
  margin-right: auto;
  margin-left: auto;
}

#title-article-aPropos {
  font-size: 20px;
}

#resume-aPropos {
  /*width: 800px;
  margin-left: auto;
  margin-right: auto;*/
  text-align: left;
  color: #707B7C;
}

#box-title-aPropos {
  background-color: #F3F3F3;
  width: 600px;
  height: 125px;
  z-index: 1;
  position: relative;
  left: 255px;
  top: 30px;
  text-align: left;
  padding: 10px 10px 10px 25px;
}

#article-aPropos {
  text-align: left;
  width: 700px;
  /*margin-left: auto;
  margin-right: auto;*/
  background-color: #E8E0EF;
  z-index: 2;
  position: relative;
  bottom: 50px;
  left: 270px;
  padding: 15px;
  opacity: 0.9;
}




/* EVENT */

.img-events {
  width: 340px;
  height: 200px;
  background-color: #FEFEFE;
}

.event-box {
  width: 350px;
  margin-right: 30px;
  text-align: left;
}

.event-box > h3 {
  text-align: center;
}

#row-events {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.modal-body {
  text-align: left;
}

/* FOOTER */

footer {
  background-color: #272727;
  height: 200px;
  width: 100%;
  color: #17202a;
  padding-top: 10px;
  position: absolute;
}

.socialNetwork {
  text-align: center;
}

.socialNetworkLI {
  display: inline-block;
  padding-right: 30px;
}

.socialNetwork > li,
.menuFooter > li,
.menuFooter > li > a {
  list-style: none;
  line-height: 25px;
  text-decoration: none;
  color: #A6ACAF;
}

.logoSocialNetwork {
  margin: 3px 0;
  width: 45px;
}

.newsletter {
  text-align: center;
  margin-top: 10px;
}

#input-group {
  width: 250px;
  margin-left: auto;
  margin-right: auto;
}

#inputNewsletter {
  border-radius: 4px 0px 0px 4px;
}

#btnNewsletter {
  border-radius: 0px 4px 4px 0px;
  margin-left: -5px;
}

#btnNewsletter:hover {
  border-radius: 0px 4px 4px 0px;
  margin-left: -5px;
  background-color: #2DAF37;
  border-color: #2DAF37;
}

#copyright {
  text-align: center;
  margin-top: 20px;
  padding-top: 25px;
  background-color: #2DAF37;
  width: 100%;
  height: 60px;
  color: #FFF;
}
